* {
  margin: 0;
  padding: 0;
  border: 0;
}
#table {
  height: 100vh;
  width: 100vw;
  margin: auto;
  /* background-color: #127524; */
  background-image: radial-gradient(#127524, darkgreen); 
  border: 5px solid #332407;
  box-shadow: inset 10px 10px 17px 1px rgba(255, 255, 255, 0.1);
  box-sizing: border-box; 
}
#filler {
  height: 10px; 
  width: 100%; 
}
.playarea {
  position: relative; 
  display: flex;
  justify-content: center; 
}
#shoe-container {
  position: relative; 
  height: calc(11.2rem + 32px); 
  width: 100%;
}
#buttons {
  position: absolute; 
  height: 75%; 
  bottom: calc(12.5% - 10px); 
  width: calc(16rem + 40px);
  left: calc(50% - (8rem + 30px));
  border: 10px solid #332407; 
  background-color: #332407; 
  border-radius: 10px;
}
.buttonrow {
  display: flex;
  height: 50%; 
  border-collapse: collapse; 
  padding: 0;
}
.button {
  width: 33.33%;
  color: white; 
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #332407;
}
.panel {
  width: 66.67%; 
  color: white; 
  font-size: 18px; 
  font-weight: 600;
  border: 1px solid #332407;
  box-sizing: border-box;
  padding: 5px;
  display: none; 
}
#deal {
  background-color: lightgray; 
  border-top-left-radius: 10px; 
  color: black;
}
#hit {
  background-color: #007144;
  display: none; 
}
#stand {
  background-color: #c7011a; 
  border-top-right-radius: 10px;
  display: none; 
}
#reset {
  background-color: lightgray; 
  border-bottom-left-radius: 10px; 
  color: black;
}
#double {
  background-color: #011ac7;
  display: none; 
}
#split {
  background-color: #c7ae01;
  border-bottom-right-radius: 10px;
  display: none; 
}
#shoe-container .card:nth-child(2) {
  position: absolute; 
  right: 0; 
  bottom: 0;
  display: none; 
  z-index: 2;
}
#shoe-container .card:nth-child(3) {
  position: absolute; 
  background-color: #333; 
  border-radius: 10px; 
  right: 0; 
  z-index: 1;
}
#shoe-container #circle {
  position: absolute; 
  right: 98px;
  top: 37%; 
  background: url("./images/cardbackred.png"); 
  height: 50px; 
  width: 50px; 
  z-index: 2;
  border-radius: 0 25px 25px 0;
  background-size: 250%;
  background-position: left; 
}
#card1, #card2, #card3, #card4 {
  visibility: hidden;
}
.card {
  width: 8rem; 
  height: 11.2rem; 
  border: 1px solid lightgray; 
  background-color: #f9faf7;
  margin: 10px; 
  box-shadow: 5px 5px black;
  border-radius: 10px; 
  padding: 5px;
  position: relative; 
}
.card.back {
  background: url("./images/cardbackred.png") no-repeat; 
  background-size: 100% 100%;
}
.spade, .club {
  color: black; 
}
.rank {
  font-size: 30px;
  font-weight: 500;
}
.suit {
  width: 20px; 
  height: 20px; 
}
.identity {
  position: absolute; 
}
.flexbox {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
.suit-image {
  width: 40px; 
  height: 40px;
}
.identity.flipped {
  bottom: 5px;
  right: 5px; 
  transform: rotate(0.5turn); 
}
