* {
  margin: 0;
  padding: 0;
  border: 0;
}
/* green felt table */ 
#table {
  min-height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: radial-gradient(#127524, darkgreen); 
  border: 5px solid #332407;
  box-shadow: inset 10px 10px 17px 1px rgba(255, 255, 255, 0.1);
  box-sizing: border-box; 
}
/* for centering vertically */ 
#filler {
  height: 0px; 
  width: 100%; 
}
/* where the cards are */ 
.playarea {
  position: relative; 
  display: flex;
  justify-content: center; 
}
/* middle row with shoe and buttons */ 
#shoe-container {
  position: relative; 
  height: calc(11.2rem + 32px); 
  width: 100%;
}
#buttons {
  position: absolute; 
  height: 75%; 
  bottom: calc(12.5% - 10px); 
  width: calc(16rem + 40px);
  left: calc(50% - (8rem + 30px));
  border: 10px solid #38598b; 
  background-color: #38598b; 
  border-radius: 10px;
}
.buttonrow {
  display: flex;
  height: 50%; 
  border-collapse: collapse; 
  padding: 0;
}
.button {
  width: 33.33%;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid #332407;
  display: none; 
  color: white; 
  background-color: #2C3E50;
}
.panel {
  width: 66.67%; 
  background-color: #2C3E50; 
  color: white; 
  font-size: 18px; 
  font-weight: 600;
  border: 5px solid lightgray;
  box-sizing: border-box;
  padding: 5px;
  display: none; 
}
#rightwrong {
  border-top-right-radius: 10px; 
}
#stats {
  border-bottom-right-radius: 10px;
}
#deal {
  border-top-left-radius: 10px; 
  border: 5px solid lightgray; 
  display: block; 
}
#hit {
  border: 5px solid #ff5d9e; 
}
#stand {
  border: 5px solid #8f71ff; 
  border-top-right-radius: 10px;
}
#reset {
  border-bottom-left-radius: 10px; 
  border: 5px solid lightgray; 
  display: block; 
}
#double {
  border: 5px solid #82acff; 
}
#split {
  border: 5px solid #8bffff; 
  border-bottom-right-radius: 10px;
}
/* shoe on right side of the screen */ 
#shoe-container .card:nth-child(2) {
  position: absolute; 
  right: 0; 
  bottom: 0;
  display: none; 
  z-index: 2;
}
#shoe-container .card:nth-child(3) {
  position: absolute; 
  background-color: #333; 
  border-radius: 10px; 
  right: 0; 
  z-index: 1;
}
#shoe-container #circle {
  position: absolute; 
  right: 98px;
  top: 37%; 
  background: url("./images/cardbackred.png"); 
  height: 50px; 
  width: 50px; 
  z-index: 1;
  border-radius: 0 25px 25px 0;
  background-size: 250%;
  background-position: left; 
}
#card1, #card2, #card3, #card4 {
  visibility: hidden;
}
#greyshoe, #circle {
  visibility: hidden; 
}
.card {
  width: 8rem; 
  height: 11.2rem; 
  border: 1px solid lightgray; 
  background-color: #f9faf7;
  margin: 10px; 
  box-shadow: 5px 5px black;
  border-radius: 10px; 
  padding: 5px;
  position: relative; 
}
.card.back {
  background: url("./images/cardbackred.png") no-repeat; 
  background-size: 100% 100%;
}
.rank {
  font-size: 30px;
  font-weight: 500;
}
.suit {
  width: 20px; 
  height: 20px; 
}
.identity {
  position: absolute; 
}
.flexbox {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100%;
}
.suit-image {
  width: 40px; 
  height: 40px;
}
.identity.flipped {
  bottom: 5px;
  right: 5px; 
  transform: rotate(0.5turn); 
}
/* only shows shoe when screen is wide */ 
@media screen and (min-width: 660px) {
  #greyshoe, #circle {
    visibility: visible; 
  }
}
@media screen and (min-width: 1000px) {
  .button:hover {
    cursor: pointer; 
    color: black; 
  }
  #deal:hover {
    background-color: lightgray; 
  }
  #reset:hover {
    background-color: lightgray; 
  }
  #hit:hover {
    background-color: #ff5d9e;
  }
  #stand:hover {
    background-color: #8f71ff; 
  }
  #double:hover {
    background-color: #82acff; 
  }
  #split:hover {
    background-color: #8bffff; 
  }
}
@media screen and (min-height: 650px) {
 #filler {
   height: calc((100vh - 640px) / 2);
 }
}
